
header {
  height: 100px;
  width: 100%;
  padding: 10px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.title-container img {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.img-container {
  height: 70px;
  width: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-container a{
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
}

header h6 {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

header img {
  height: 40px;
  width: auto;
  filter: grayscale(100%);
}


.tabla_grupo {
    border: 0.6em solid #424242;
    border-collapse: collapse;
    background-color: #778899;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    width: 75%;
}

.tabla_grupo th{
    border: 1px solid #D3D3D3;
    color: #FFFFFF;
    font-size: 2em;
}

.tabla_grupo td{
    border: 1px solid #D3D3D3;
    color: #F8F8FF ;
    font-size: 1.5em;
}

.table_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4em;

    
  }
 img.blancoYnegro {
   
    filter: grayscale(0);
     
    -webkit-filter: grayscale(0);
     
    }
  
    
img.blancoYnegro:hover {
   
  filter: grayscale(100%);
   
  -webkit-filter: grayscale(100%);
   
  }
.footer {
  text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.678);
    color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}

.footer li{
    margin: 0 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;   
}

@media (max-width: 991px) {
  header a{
    font-size: 13px;
  }
  header button {
    font-size: 13px;
  }
  .dark-mode{
    font-size: 13px;
    text-align: center;
  }
  .footer h3{
    font-size: 15px;
  }
}

@media (max-width: 600px){
  header h3{
    font-size: 20px;
  }
  header button{
    font-size: 20px;
  }
  .footer h3{
    font-size: 15px;
  }
}