header {
    height: 100px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-header);
  }
  
  .title-container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: start;
  }
  
  .title-container img {
    width: 70px;
    height: auto;
    margin-right: 25px;
  }
  
  .links {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
  }
  
  .img-container {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .img-container a{
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  header h6 {
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  
  header img {
    height: 50px;
    width: auto;
    filter: brightness(0) invert(1);
  }

  @media (max-width: 750px) {
    header h1 {
      font-size: 27.5px;
    }
  }

  @media (max-width: 600px) {
    header{
      height: 80px;
    }
    .title-container img {
      width: 50px;
      margin-right: 10px;
    }
    .img-container {
      height: 50px;
      width: 50px;
    }
    header h1{
      font-size: 25px;
    }
    header img{
      height: 40px;
    }
    header h6{
      display: none;
    }
  }