main {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1%;
    margin-top: 35px;
}

.cards-container {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    margin-bottom: 30px;
}

.card-title {
    border-radius: 15px 15px 0px 0px;
    color: var(--orange-color);
    background-color: var(--blue-header);
}

.card-title h1 {
    margin: 0 15px;
}

.card-body {
    border-radius:  0px 0px 15px 15px;
    padding: 15px;
    background-color: var(--blue-form);
}

.cards-container h3 {
    font-size: 20px;
    color: white;
}

@media (max-width: 1200px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}