
:root {
    --black-color: black;
    --blue-body: #134074;
    --blue-form: #13315c;
    --blue-header: #0b2545;
    --light-green-color: #95c923;
    --orange-color: #f6511d;
    --white-color: white;
}
