/*Variables*/
:root {
    --black-color: black;
    --blue-body: #134074;
    --blue-form: #13315c;
    --blue-header: #0b2545;
    --light-green-color: #95c923;
    --orange-color: #f6511d;
    --white-color: white;
}

/*General*/
html, body {
    background-color: var(--blue-body);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 0;
}
input, select, textarea, button{font-family:Roboto;}

main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 ;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--orange-color);
    background: transparent;
}

/*Header*/
header {
    height: 100px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-header);
}

.title-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.title-container img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.img-container {
    height: 70px;
    width: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-container a{
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: center;
}

header h6 {
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

header img {
    height: 40px;
    width: auto;
    filter: brightness(0) invert(1);
}

/*form*/

main {
    margin: 0;
    padding: 1%;
}

table {
    border: 2px solid #0F2752;
    border-collapse: collapse;
    background-color: #13315c;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 75%;
}

table th{
    border: 1px solid #D3D3D3;
    color: #FFFFFF;
    font-size: 10px;
    padding: 0 5px;
}


/*footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer h3 {
    font-size: 15px;
    color: white;
    margin: 0 10px;
}

@media (max-width: 1200px) {
    table th {
        font-size: 8px;
    }
}